{{fail2ban_template_warning}}
[DEFAULT]

bantime = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}

ignoreip = {{ fail2ban_ignoreip }}

# Override /etc/fail2ban/jail.d/00-firewalld.conf:
# banaction = iptables-multiport

destemail = {{ fail2ban_destemail }}
sender = {{ fail2ban_sender }}
mta = {{ fail2ban_mta }}

[sshd]
enabled = {{ fail2ban_sshd_jail }}

[nginx-botsearch]
enabled = {{ fail2ban_nginx_botsearch_jail }}
bantime = {{ fail2ban_nginx_botsearch_bantime }}
findtime = {{ fail2ban_nginx_botsearch_findtime }}

[webexploits]
enabled  = {{ fail2ban_webexploits_jail }}
port     = http,https
filter   = webexploits
logpath  = %(nginx_access_log)s

[blacklist]
enabled = {{ fail2ban_blacklist_jail }}
logpath  = /var/log/fail2ban.*
filter = blacklist
banaction = blacklist
bantime  = {{ fail2ban_blacklist_bantime }}
findtime = {{ fail2ban_blacklist_findtime }}
maxretry = {{ fail2ban_blacklist_maxretry }}
