{{fail2ban_template_warning}}
[DEFAULT]

bantime = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}

ignoreip = {{ fail2ban_ignoreip }}

# Override /etc/fail2ban/jail.d/00-firewalld.conf:
# banaction = iptables-multiport

destemail = {{ fail2ban_destemail }}
sender = {{ fail2ban_sender }}
mta = {{ fail2ban_mta }}

[sshd]
enabled = {{ fail2ban_sshd_jail }}
